[submodule "diffpool"]
	path = diffpool
	url = https://github.com/superphy/diffpool.git
[submodule "lemongraph"]
	path = lemongraph
	url = https://github.com/superphy/lemongraph.git
	ignore = dirty
[submodule "gobin"]
	path = gobin
	url = https://github.com/superphy/gobin.git
