[submodule "diffpool"]
	path = diffpool
	url = git@github.com:superphy/diffpool.git
[submodule "lemongraph"]
	path = lemongraph
	url = https://github.com/NationalSecurityAgency/lemongraph.git
	ignore = dirty
